body{
background-image:url("images/04.jpg")  
}
a:link{
    color: #b9def0;
}
a:active{
    color: #b9def0;
}
a:hover{
    color: #b9def0;
}
a:visited{
    color: #b9def0;
}

div{
    margin-top: 600px;
    margin-left: 150px;
}
a{
    font-size: 50px;
}
